/p_data.py
/cert.pem
/key.pem
/savetg_extension/cert.pem
/savetg_extension/key.pem
/savetg_bot/test.py
/savetg_bot/chopper.gif
/savetg_bot/127.0.0.1+1.pem
/savetg_bot/127.0.0.1+1-key.pem
/.idea/.gitignore
/savetg_bot/cert.pem
/savetg_bot/key.pem
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/savetg.iml
/savetg_bot/tg_saver.session
/savetg_bot/tg_saver.session-journal
/.idea/vcs.xml
/savetg_bot/invite.py
/savetg_bot/p_data.py
/fastapi_tg_cloud/p_data.py
/savetg_bot/send_message.py
/savetg_bot/test_2.py
/fastapi_tg_cloud/127.0.0.1+1.pem
/fastapi_tg_cloud/127.0.0.1+1-key.pem
/fastapi_tg_cloud/tg_saver.session
/filecode.py
/fastapi_tg_cloud/channels.json
/files_content/savetg_bot.txt
/files_content/savetg_extension.txt
/files_content/telethon_version.txt
/fastapi_tg_cloud/tg_saver_bot.session
